@using WebApp.Models
@model Teacher

<div class="modal fade" id="AddTeacherModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Προσθήκη Καθηγητή</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success">Save changes</button>
            </div>

    </div>
  </div>
</div>