@using WebApp.ViewModels
@model ProfileViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <title>Προφίλ</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://i.pinimg.com/originals/37/86/00/3786001447986993c2cd5bbfe77c9645.png" />

    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/Views/Profile/profile.js"></script>
</head>

<body>

    <div class="main-page">

        @await Html.PartialAsync("~/Views/Shared/NavigationMenu.cshtml", Model)

        <div class="row pd-15">
            <div class="col-sm-12 text-right">
                <label>Σύνδεση ως: </label> <label>@Model.FullName <a href="@Url.Action("LogOut","Home")"><i class="fa fa-sign-out"></i></a></label>
            </div>
        </div>

        <div class="row pd-15">
            <div class="col-sm-12 text-center h2">
                Ωρολόγιο Πρόγραμμα Διδασκαλίας
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs grid-5" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Monday" role="tab" aria-controls="nav-home" aria-selected="true">Δευτέρα</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Tuesday" role="tab" aria-controls="nav-profile" aria-selected="false">Τρίτη</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Wednesnday" role="tab" aria-controls="nav-contact" aria-selected="false">Τετάρτη</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Thursday" role="tab" aria-controls="nav-contact" aria-selected="false">Πέμπτη</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Friday" role="tab" aria-controls="nav-contact" aria-selected="false">Παρασκευή</a>
            </div>
        </nav>

        <div class="tab-content" hidden>
            <div class="tab-pane fade show active" id="Monday" role="tabpanel" aria-labelledby="home-tab">

                <div class="table-responsive">
                    <table class="table">

                        <table class="table table-hover">

                            <thead>
                                <tr>
                                    <th class="sticky-col" scope="col"></th>
                                    <th scope="col">1</th>
                                    <th scope="col">2</th>
                                    <th scope="col">3</th>
                                    <th scope="col">4</th>
                                    <th scope="col">5</th>
                                    <th scope="col">6</th>
                                    <th scope="col">7</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th class="sticky-col" scope="row">Διαμαντίδης</th>

                                    <td><strong>Β2</strong><br>Τεχνολογία Λογισμικού</td>

                                    <td></td>
                                    <td><strong>A1</strong><br>Άλγεβρα</td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <th class="sticky-col" scope="row">Κωτίδης</th>

                                    <td></td>
                                    <td><strong>Β3</strong><br>Σχεδίαση Βάσεων Δεδομένων</td>
                                </tr>
                                <tr>
                                    <th class="sticky-col" scope="row">Βασσάλος</th>

                                </tr>
                            </tbody>

                        </table>

                    </table>
                </div>

            </div>


            <div class="tab-pane fade" id="Tuesday" role="tabpanel" aria-labelledby="profile-tab">T</div>
            <div class="tab-pane fade" id="Wednesnday" role="tabpanel" aria-labelledby="contact-tab">w</div>
            <div class="tab-pane fade" id="Thursday" role="tabpanel" aria-labelledby="contact-tab">T</div>
            <div class="tab-pane fade" id="Friday" role="tabpanel" aria-labelledby="contact-tab">F</div>
        </div>

    </div>

    @await Html.PartialAsync("~/Views/Profile/_AddTeacherModal.cshtml", new WebApp.Models.Teacher())

</body>

</html>